html
    head
        title=title
        script(src="")
    body
        -var values = dir
        ul 
            each val in values != undefined ? values : ["There is nothing HERE!"]
                li
                    a(href=val)=val 
