html
    head
        title=title
        script(src="")
    body
        -var values = dir
        ul 
            each val in values != undefined ? values : []
                li
                    a(href=val)=val 
            else    
                li There is no index.html in HERE!